@*<style>
        label {
            color: white;
            margin-left:430px;
        }
        .center{
            margin: 0 auto 0 auto;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="main col-12">
                <div class="progress">
                    <div id="p" class="progress-bar  bg-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" ariavaluemax="100"></div>
                </div>
                <div class="block1">
                    <div id="b1" class="text-center activecirculo">
                        <i class="icon1"></i>
                    </div>
                </div>
                <div id="block2A" class="block2">
                    <div id="b2" class="text-center circulo">
                        <i class="icon2"></i>
                    </div>
                </div>
                <div id="block3A" class="block3">
                    <div id="b3" class="text-center circulo">
                        <i class="icon3"></i>
                    </div>
                </div>
                <div class="text-center next">
                    <button onclick="enviar()" id="next1" class="next1 btn btn-primary">Siguiente</button>
                    <button onclick="enviar2()" id="next2" class="next2 btn btn-primary">Siguiente</button>
                </div>
            </div>
        </div>
        <div id="Paso1">
            <div class="form-group center">
                <label class="small mb-1" for="inputName">Nombre</label>
                <input class="form-control py-4 center" id="txtNombre" type="text" placeholder="Ingrese su nombre" />
            </div>
            <div class="form-group">
                <label class="small mb-1" for="inputApe">Apellido</label>
                <input class="form-control py-4 center" id="txtApellido" type="text" placeholder="Ingrese su apellido" />
            </div>
            <div class="form-group">
                <label class="small mb-1" for="inputPhone">Teléfono</label>
                <input class="form-control py-4 center" id="txtTelefono" type="number" placeholder="Ingrese su teléfono" />
            </div>
            <div class="form-group">
                <label class="small mb-1" for="inputEmail">Email</label>
                <input class="form-control py-4 center" id="txtEmail" type="email" placeholder="Ingrese su email" />
            </div>
        </div>

        <div id="Paso2" style="display:none">
            <div class="fieldset-content">
                <div class="form-group">
                    <label class="small mb-1" style="" for="inputTipoTrámite">Tipo trámite</label>
                    <input class="form-control py-4 center" id="txtTipoTramite" type="text" placeholder="Ingrese el tipo de trámite" />
                </div>
                <div class="form-group">
                    <label class="small mb-1" for="inputCiudad">Ciudad</label>
                    <input class="form-control py-4 center" id="txtCiudad" type="text" placeholder="Ingrese la ciudad" />
                </div>
            </div>
        </div>
        <div id="Paso3" style="display:none">
            <div class="fieldset-content">
                <input style="margin-bottom: 10px" type="button" value="Buscar" class=" btn btn-success" onclick="Redirigir()" />
            </div>
        </div>
    </div>*@

<div class="page-wrapper p-t-275 p-b-100">
    <div class="wrapper wrapper--w690">
        <div class="card card-1">
            <div class="card-body">
                <form class="wizard-container" method="POST" action="#" id="js-wizard-form">
                    <div class="progress" id="js-progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                            <span class="progress-val">40%</span>
                        </div>
                    </div>
                    <ul class="nav nav-tab">
                        <li class="active">
                            <a href="#tab1" data-toggle="tab">1</a>
                        </li>
                        <li>
                            <a href="#tab2" data-toggle="tab">1</a>
                        </li>
                        <li>
                            <a href="#tab3" data-toggle="tab">1</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <div class="input-group">
                                <div class="form-group center">
                                    <label class="small mb-1" for="inputName">Nombre</label>
                                    <input class="form-control py-4 center" id="txtNombre" type="text" placeholder="Ingrese su nombre" />
                                </div>
                                <div class="form-group">
                                    <label class="small mb-1" for="inputApe">Apellido</label>
                                    <input class="form-control py-4 center" id="txtApellido" type="text" placeholder="Ingrese su apellido" />
                                </div>
                                <div class="form-group">
                                    <label class="small mb-1" for="inputPhone">Teléfono</label>
                                    <input class="form-control py-4 center" id="txtTelefono" type="number" placeholder="Ingrese su teléfono" />
                                </div>
                                <div class="form-group">
                                    <label class="small mb-1" for="inputEmail">Email</label>
                                    <input class="form-control py-4 center" id="txtEmail" type="email" placeholder="Ingrese su email" />
                                </div>
                            </div>
                            <div class="btn-next-con">
                                <a class="btn-next" href="#">Siguiente</a>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab2">
                            <div class="input-group">
                                <div class="form-group">
                                    <label class="small mb-1" style="" for="inputTipoTrámite">Tipo trámite</label>
                                    <input class="form-control py-4 center" id="txtTipoTramite" type="text" placeholder="Ingrese el tipo de trámite" />
                                </div>
                                <div class="form-group">
                                    <label class="small mb-1" for="inputCiudad">Ciudad</label>
                                    <input class="form-control py-4 center" id="txtCiudad" type="text" placeholder="Ingrese la ciudad" />
                                </div>
                            </div>
                            <div class="btn-next-con">
                                <a class="btn-back" href="#">Atrás</a>
                                <a class="btn-next" href="#" onclick="Confirmar()">Siguiente</a>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab3">
                            <div class="input-group">
                                <table>
                                    <tr class="col-md-12">
                                        <td class="col-md-12">
                                            <div class="form-group">
                                                <label class="small mb-1">Nombre</label>
                                                <label class="form-control py-4 center" id="lblNombre" />
                                            </div>
                                            <div class="form-group">
                                                <label class="small mb-1">Apellido</label>
                                                <label class="form-control py-4 center" id="lblApellido" />
                                            </div>
                                            <div class="form-group">
                                                <label class="small mb-1">Teléfono</label>
                                                <label class="form-control py-4 center" id="lblTelefono" />
                                            </div>
                                        </td>

                                        <td class="col-md-12">
                                            <div class="form-group">
                                                <label class="small mb-1">Email</label>
                                                <label class="form-control py-4 center" id="lblEmail" />
                                            </div>
                                            <div class="form-group">
                                                <label class="small mb-1">Tipo trámite</label>
                                                <label class="form-control py-4 center" id="lblTipoTramite" />
                                            </div>
                                            <div class="form-group">
                                                <label class="small mb-1">Ciudad</label>
                                                <label class="form-control py-4 center" id="lblCiudad" />
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                
                            </div>
                            <div class="btn-next-con">
                                <a class="btn-back" href="#">Atrás</a>
                                <a class="btn-last" href="#" onclick="Redirigir()">Seleccionar Usuario</a>
                            </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet">

    <!-- Jquery JS-->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="~/Content/vendor/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/Content/vendor/bootstrap-wizard/bootstrap.min.js"></script>
    <script src="~/Content/vendor/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>

    <!-- Main JS-->
    <script src="~/Scripts/global.js"></script>

    <!-- Icons font CSS-->
    <link href="~/Content/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Main CSS-->
    <link href="~/Content/css/main.css" rel="stylesheet" media="all">


    <script>
        function Confirmar() {
            nom = document.getElementById('txtNombre').value;
            ap = document.getElementById('txtApellido').value;
            tel = document.getElementById('txtTelefono').value;
            cor = document.getElementById('txtEmail').value;
            tip = document.getElementById('txtTipoTramite').value;
            ciu = document.getElementById('txtCiudad').value;

            document.getElementById('lblNombre').innerHTML = nom;
            document.getElementById('lblApellido').innerHTML = ap;
            document.getElementById('lblTelefono').innerHTML = tel;
            document.getElementById('lblEmail').innerHTML= cor;
            document.getElementById('lblTipoTramite').innerHTML= tip;
            document.getElementById('lblCiudad').innerHTML = ciu;
        }

        function Redirigir() {

            nom = document.getElementById('txtNombre').value;
            ap = document.getElementById('txtApellido').value;
            tel = document.getElementById('txtTelefono').value;
            cor = document.getElementById('txtEmail').value;
            $.ajax({


                type: 'GET',
                url: '@Url.Action("Registrar", "Home")',
                data: {
                    'nombre': nom,
                    'apellido': ap,
                    'telefono': tel,
                    'email': cor
                },
                dataType: "json",
                success: function (response) {


                },
            });
            //window.location.href = '/Home/Index';
            window.location.href = 'ApiUsersWebMVC/Home/Index';
        }
    </script>

}